@page "/Detalle/Index"
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    
</head>
<body>
    <div class="container mt-3">
        <div class="card shadow-lg">
            <div class="card-header">
                <h5 class="text-center">Consulta de aportes</h5>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-3">
                        <select class="form-select">
                            <option selected disabled>Filtrar</option>
                            <option value="AporteId">AporteID</option>
                            <option value="Fecha">Fecha</option>
                            <option value="Nombre">Nombre</option>
                        </select>
                    </div>

                    <div class="col-4">
                        <div class="input-group">
                            <input class="form-control" placeholder="Buscar" />
                            <button type="button" class="btn btn-primary">
                                <span class="bi bi-search"></span>
                            </button>
                        </div>
                    </div>

                    <div class="col-4 text-end">
                        <a href="/Aportes/Create" class="btn btn-success">
                            <span class="bi bi-plus-square"></span> Crear
                        </a>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-3">
                        <label class="col-form-label"><strong>Desde</strong></label>
                        <input type="date" class="form-control" />
                    </div>

                    <div class="col-3">
                        <label class="col-form-label"><strong>Hasta</strong></label>
                        <input type="date" class="form-control" />
                    </div>
                </div>

                <table class="table table-hover mt-4">
                    <thead class="table-striped text-black">
                        <tr>
                            <th>AporteID</th>
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th>Monto</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           
                        </tr>
                        <tr>
                         
                            
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer d-flex justify-content-between">
                <label>Conteo: 2</label>
                <label>Total: 1,850.50</label>
            </div>
        </div>
    </div>
</body>
</html>